 {% load static %}
 {% load filters %} 
 
 <div class="card m-card shadow border-0">
              <a href="{% url 'idea-details' idea.id %}">
                <div class="m-card-cover">
                  <div
                    class="
                      position-absolute
                      bg-white
                      shadow-sm
                      rounded
                      text-center
                      p-1
                      m-1

                    "
                  >
                    <h6 class="text-gray-900 mb-0 font-weight-bold">
                      <i class="fas fa-star text-warning"></i>
                      {% if idea.comments.all|display_average > 0 %}
                      %{{idea.comments.all|display_average}}
                      {% else %}
                      {% endif %}
                    </h6>
                    <small class="text-muted">{{idea.comments.all.count}}</small>
                  </div>
                  {% if idea.idea_image %}
                  <img src="{{idea.idea_image.url }}" class="card-img-top" alt="..." />
                  {% else %}
                  <img src="{% static 'img/no_image.jpg'%}" class="card-img-top" alt="..." />
                  {% endif %}
                </div>
                <div class="card-title p-3">
                  <h5 class="card-title text-gray-900 mb-1">
                    {{idea.title}}
                  </h5>
                  <small class="text-gray-900">{{idea.description|safe}}</small>
                  <p class="card-text">
                    <small class="text-success"
                      ><i class="fas fa-calendar-alt fa-sm text-gray-400"></i>
                      <strong>{{idea.created_at|date:"M/Y"}}</strong></small
                    >
                  </p>
                </div>
              </a>
            </div>